{% extends "base.html.twig" %}

{% block body %}
    <div class="page-title border-top" id="about_bg">
            <div class="container" id="about_box" style="background: #fff; padding: 20px;border-radius: 20px;box-shadow: 1px 1px 10px;">
                <div class="row">
                    <div class="col-lg-7 push-lg-5" style="text-align: -moz-center;margin-left: -255px;border border-radius: 1px solid black ">
                        <h1 class="mb-0" style="color:#42A232"><b>A propos de Bep</b></h1><br>
                
                
                        <h4> <b>Pourquoi Bêp ?</b></h4>
                                    <div>
                                        <img src="{{ asset('assets/img/photobep/Autres/about1.jpg') }}"id="about_img" width="50%" style="border-radius: 60%;">
                                    </div>
                                  
                                        <p>Passionnés de voyages et de cuisine Vietnamienne, c’est tout naturellement qu’est né notre projet Bêp. A travers notre concept, nous souhaitons vous faire découvrir des plats typiques de notre enfance tout en y ajoutant notre touche personnelle. <br></p>
                                
                <hr>
                
                                    <h4><b>C’est qui « nous » ?</b></h4><br><br>
                                        <div>
                                            <img src="{{ asset('assets/img/photobep/Autres/about22.jpg') }}" width="50%" style="border-radius: 60%;">
                                        </div>
                                            <p>Jasthani & Santi se sont rencontrés et ne se sont plus quittés. Rêveurs et curieux, ensemble ils ont fait le tour de l’Asie. Addict à la street food vietnamienne, à leur retour, ils n’ont qu’une idée en tête : vous faire voyager !  </p><br><br>
                <hr>
                                        <h4>Nos valeurs<br><br>
           
                                    <div>
                                            <img src="{{ asset('assets/img/photobep/Autres/about3.jpg') }}" width="50%" style="border-radius: 60%;">
                                        </div>
                                            <p>Des ingrédients frais, des recettes faites maison, des saveurs exotiques et authentiques, il n’en faut pas plus pour définir Bêp !
                                            Un grand merci à nos mamans qui nous ont partagé leurs recettes, qui nous permettent d’enrichir notre carte et qui nous soutiennent au quotidien. Cam on nhieu lam !</p><br>
                    
                        </div>
                        </div>
            </div>
        </div>


        <!-- Section -->
        <section class="section section-bg-edge">

            <div class="image left bottom col-md-7">
               
            </div>
        
            
               
      

        </section>

        <!-- Section -->
       
       

    </div>
{% endblock %}


