{% extends "base.html.twig" %}

{% block body %}
   <div class="page-title border-top" id="about_bg">
           <div class="container" id="about_box" style="background: #fff; padding: 20px;border-radius: 20px;box-shadow: 1px 1px 10px;">
               <div class="row">
                   <div class="col-lg-6 push-lg-6" style="text-align: -moz-center;margin-left: -255px;border-radius: 1px solid black ;">
                       <h1 class="mb-4" style="color:#42A232"><b> À propos</b></h1>
               
               
                       <h3> <b style="color: green;">Pourquoi Bêp ?</b></h3>
                                   <div>
                                       <img src="{{ asset('assets/img/about1.jpg') }}" class='mb-4' id="about_img" >
                                   </div>
                                 
                                   <b><p>Passionnés de voyages et de cuisine Vietnamienne, c’est tout naturellement qu’est né notre projet Bêp. A travers notre concept, nous souhaitons vous faire découvrir des plats typiques de notre enfance tout en y ajoutant notre touche personnelle.</p></b>
                               
               <hr>
               
                                   <h3><b style="color: green;">C’est qui « nous » ?</b></h3>
                                       
                                        <div>
                                           <img src="{{ asset('assets/img/about22.jpg') }}" class='mb-4' id="about_img" width="50%" > 
                                       </div>
                                       <span><p>Jasthani & Santi se sont rencontrés et ne se sont plus quittés. Rêveurs et curieux, ensemble ils ont fait le tour de l’Asie. Addict à la street food vietnamienne, à leur retour, ils n’ont qu’une idée en tête : vous faire voyager !  </p><
               <hr>
                           <h3 style="color: green;"><b>Nos valeurs<b></h3>
         
                                       <div>
                                           <img src="{{ asset('assets/img/about3.jpg') }}" class='mb-4' id="about_img" width="50%">
                                       </div>
                                           <p>Des ingrédients frais, des recettes faites maison, des saveurs exotiques et authentiques, il n’en faut pas plus pour définir Bêp !
                                           Un grand merci à nos mamans qui nous ont partagé leurs recettes, qui nous permettent d’enrichir notre carte et qui nous soutiennent au quotidien. Cam on nhieu lam !</p>
                   
                       </div>
                       </div>
           </div>
       </div>
       <!-- Section -->
       <section class="section section-bg-edge">

           <div class="image left bottom col-md-7">
 
           </div>
       </section>
       <!-- Section -->
   </div>
{% endblock %}
