{% extends "base.html.twig" %}

{% block body %}

<section class="section">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 push-lg-1 col-md-6">
                        <div id="google-map-2" class="h-500">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10495.94769987299!2d2.3506187!3d48.8775258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x505afa7180bd91d7!2sB%C3%AAp+Vietnamese+Street+Food!5e0!3m2!1sfr!2sfr!4v1518779611879" width="500" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-4 push-lg-2 col-md-6">
                        <img src="assets/img/photobep/Design/beplogo.png" alt="" class="mb-5" width="130">
                        <h4 class="mb-0">Bep Food</h4>
                        <span class="text-muted">102 Rue La Fayette 75010 PARIS - Métro Poissonnière</span>
                        <hr class="hr-md">
                        <div class="row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <h6 class="mb-1 text-muted">Téléphone:</h6>
                                09 81 33 34 49
                            </div>
                            <div class="col-sm-6">
                                <h6 class="mb-1 text-muted">E-mail:</h6>
                                <a href="#">contact@bepstreetfood.com</a> <br>
                            </div>
                          
                        </div>
                        <hr class="hr-md">
                        <h6 class="mb-3 text-muted">Suivez-nous !</h6>
                        <a href="https://www.facebook.com/bepstreetfood/" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://pro.iconosquare.com/igfeed/home/1855623217997824/3105274801" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

        </section>


{% endblock body %}  
    