{% extends "base.html.twig" %}

{% block body %}

<section class="section" id="contact_bg" >
            
            <div class="container" id="contact_box">
                <div class="row align-items-center">
                    <div class="col-lg-5 push-lg-1 col-md-6">
                        <div id="google-map-2" class="h-500 mb-5">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10495.94769987299!2d2.3506187!3d48.8775258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x505afa7180bd91d7!2sB%C3%AAp+Vietnamese+Street+Food!5e0!3m2!1sfr!2sfr!4v1518779611879" width="500" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-4 push-lg-2 col-md-6">
                      
                        <h3 class="mb-0"><b style='color: #42A232'>Bêp Vietnamese Street Food</b></h3><br>
                        <span class="text-muted"><img src="assets/img/photobep/Design/adresse.jpg" alt="" class="mb-2" width="21"> 102 Rue La Fayette 75010 PARIS  </span> <br>
                        <span><img src="assets/img/photobep/Design/metro.png" alt="" class="" width="20"> Poissonnière</span>
                        <hr class="hr-md">
                        <div class="row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                  <span class="text-muted"><img src="assets/img/photobep/Design/tel.png" alt="" class="" width="20"> 09 81 33 34 49 </span>
                               
                            </div>                        
                        </div>
                        <hr class="hr-md">
                         <span class="text-muted"><img src="assets/img/photobep/Design/mail.png" alt="" class="" width="20"> contact@bepstreetfood.com</span>
                            
                    </div>
                </div>
            </div>
        </section>
{% endblock body %}  
    