{% extends "base.html.twig" %}

{% block body %}
    <!-- Section - Main -->
    <section class="section section-main section-main-1 bg-light">

        <div class="container dark">
            <div class="slide-container">
                <div id="section-main-1-carousel-image" class="image inner-controls">
                    <div class="slide"><div class="bg-image"><img src="{{ asset('assets/img/photobep/Design/IMG_6235.png') }}" alt=""></div></div>
                    <div class="slide"><div class="bg-image"><img src="{{ asset('assets/img/photobep/Design/IMG_6273.png') }}" alt=""></div></div>
                    <div class="slide"><div class="bg-image"><img src="{{ asset('assets/img/photobep/Design/IMG_6375.png') }}" alt=""></div></div>
                    <div class="slide"><div class="bg-image"><img src="{{ asset('assets/img/photobep/Design/IMG_6593.png') }}" alt=""></div></div>
                </div>
                <div class="content dark">
                    <div id="section-main-1-carousel-content">
                        <div class="content-inner">
                            <h1 class="text-muted">Banh mi</h1>
                            <h4>C’est LE sandwich franco-vietnamien, la star de la street food.</h4>
                            <div class="btn-group">
                                <a href="#productModal" data-toggle="modal" class="btn btn-outline-primary btn-lg"><span>Add to cart</span></a>
                                <span class="price price-lg">from $9.98</span>
                            </div>
                        </div>
                        <div class="content-inner">
                            <h1>Bo bun</h1>
                            <h4 class="text-muted mb-5">On ne présente plus le Bo bun, plat typique et incontournable de la cuisine vietnamienne !</h4>
                            <a href="page-offers.html" class="btn btn-outline-primary btn-lg"><span>Get it now!</span></a>
                        </div>
                        <div class="content-inner">
                            <h1>Roulo'</h1>
                            <h4 class="text-muted mb-5">Frais et savoureux, il y en a pour tous les goûts : poulet & crevette, boeuf citronnelle ou encore tofu & avocat.</h4>
                            <a href="menu-list-collapse.html" class="btn btn-outline-primary btn-lg"><span>Order now!</span></a>
                        </div>
                    </div>
                    <nav class="content-nav">
                        <a class="prev" href="#"><i class="ti-arrow-left"></i></a>
                        <a class="next" href="#"><i class="ti-arrow-right"></i></a>
                    </nav>
                </div>
            </div>
        </div>

    </section>

    
   

    <!-- Section - Steps -->
    <section class="section section-extended right dark">

        <div class="container bg-dark" style="margin-left;">
            <div class="row">
                <div class="col-md-4">
                    <!-- Step -->
                    <div class="feature feature-1 mb-md-0">
                        <div class="feature-icon icon icon-primary"><i class="ti ti-shopping-cart"></i></div>
                        <div class="feature-content">
                            <h4 class="mb-2"><a href="menu-list-collapse.html">Choisis ton plat</a></h4>
                            <p class="text-muted mb-0">Vivamus volutpat leo dictum risus ullamcorper condimentum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Step -->
                    <div class="feature feature-1 mb-md-0">
                        <div class="feature-icon icon icon-primary"><i class="ti ti-wallet"></i></div>
                        <div class="feature-content">
                            <h4 class="mb-2"> #COUP DE CB </h4>
                            <p class="text-muted mb-0">Vivamus volutpat leo dictum risus ullamcorper condimentum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Step -->
                    <div class="feature feature-1 mb-md-0">
                        <div class="feature-icon icon icon-primary"><i class="ti ti-package"></i></div>
                        <div class="feature-content">
                            <h4 class="mb-2"> Récupère ton plat</h4>
                            <p class="text-muted mb-3">Vivamus volutpat leo dictum risus ullamcorper condimentum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    

    

    <!-- Section -->
   


    
    <!-- Footer / End -->
{% endblock %}
